h1, h2 {
  text-align: center;
}


.project-overview {
  display: flex;
  margin: auto auto;
}

.column {
  border: 2px dashed red;
  margin: 2em;
  padding: 2em;
}

iframe {
  width: 80%;
  height: 1000px;
  margin: 0% 10%;
  align-content: center;
}

aside {
  flex-basis: 20%;
}

section {
  flex-basis: 80%;
}
